@model PizzaOrders
@using PizzaPalace.Data;


@foreach (Users item in Model.UT)
{
    <h3>
        Welcome back: @Html.DisplayFor(model => item.FirstName)@Html.DisplayFor(model => item.LastName)
    </h3>
}


<div>
    <h4>Pizza Orders</h4>

    <dl class="dl-horizontal">
        @{

            var order = (Orders)ViewData["lastorder"];
            var pizzas = (Pizza)ViewData["lastPizzasUser"];
        }

        <table class="table">
            <tr>
                <th>Size</th>
                <th>Pizza</th>
                <th>Cost $</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>@pizzas.Size;</td>
                <td>@pizzas.Pizza1;</td>
                <td>@pizzas.Cost;</td>
                <td>@order.DateTimeOrder</td>
            </tr>
        </table>


        @*<dd>
                @Html.DisplayFor(model => model.DateTimeOrder)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LocationsIdfkNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocationsIdfkNavigation.LocationsId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserIdfkNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserIdfkNavigation.Id)
            </dd>
        *@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
